@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

html {
  font-size: 1.125em;
}

body {
  background: $color-white;
}

.blog.article {
  .cover {
    @media (min-width: $screen-sm-min) {
      height: 70vh;
      background-repeat: no-repeat;
      background-position-y: 50px;
      background-size: initial;
      background-attachment: fixed;
      background-color: $color-dark;
    }
  }

  .wrapper {
    box-shadow: none;

    @media (max-width: $screen-xs-max) {
      padding: 10px 16px;
    }

    &.header {
      @media (max-width: $screen-xs-max) {
        padding: 30px 10px;
        position: absolute;
        bottom: 0;
      }
    }

    &.signup {
      max-width: 800px;

      @media (max-width: $screen-xs-max) {
        padding: 0;
      }

      @media (min-width: $screen-sm-min) {
        padding: 0 75px;
      }
    }

    &.comments {
      box-shadow: none;
      max-width: 800px;
    }
  }

  .callout {
    background-color: $body-bg;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    @media (max-width: $screen-sm-max) {
      padding: 35px 0 45px;
    }
  }

  .overlay {
    background: linear-gradient(to top, $color-dark 10%, $color-transparent 90%);
    text-align: center;

    @media (max-width: $screen-xs-max) {
      height: 450px;
    }
  }

  p {
    margin-bottom: 1.3em;
  }

  h2,
  h3,
  h4,
  h5 {
    margin: .625em 0 .5em;
    font-weight: 400;
  }

  h1 {
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 25px;

    @media (min-width: $screen-sm-min) {
      font-size: 7vh;
      max-width: 1300px;
    }
  }

  h2 {
    font-size: 2.441em;
    font-weight: normal;
    margin-top: 30px;
    line-height: 1.2;

    @media (min-width: $screen-sm-min) {
      font-size: 44px;
    }
  }

  h3 {
    font-size: 1.953em;
    font-weight: normal;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.563em;
  }

  h5 {
    font-size: 1.25em;
  }

  small {
    font-size: .8em;
  }

  .description {
    font-weight: 300;

    @media (min-width: $screen-sm-min) {
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 30px;
      max-width: 800px;
    }
  }

  .body {
    @media (min-width: $screen-sm-min) {
      max-width: 800px;
    }
  }

  .content {
    ul {
      @media (max-width: $screen-xs-max) {
        padding-left: 30px;
      }
    }

    img,
    .carousel {
      min-width: calc(100% + 32px);
      max-width: calc(100% + 32px);
      margin-left: -16px;

      @media (min-width: $screen-sm-min) {
        margin: 25px 0;
        min-width: calc(100% + 150px);
        max-width: calc(100% + 150px);
        margin-left: -75px;
      }
    }

    .carousel {
      @media (min-width: $screen-sm-min) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .item img {
      height: 600px;
      width: auto;
      min-width: auto;
      max-width: none;
      margin: 0 auto;
    }

    .vista {
      @media (min-width: $screen-sm-min) {
        min-width: 100vw;
        max-width: 100vw;
        margin-left: calc(325px - 50vw);
        z-index: 9;
        position: relative;
      }
    }
  }
}

.imglink::after {
  content: url("/images/blogimages/there-and-back-again-in-one-release/image-icon.svg");
  margin: 0 2px;
  vertical-align: middle;
}

.carousel {
  height: 600px;
  background-color: $color-dark;
}

.carousel-control {
  fill: $color-dark;

  &.left,
  &.right {
    background-image: none;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  &.left {
    @media (min-width: $screen-md-min) {
      left: -100px;
    }
  }

  &.right {
    @media (min-width: $screen-md-min) {
      right: -100px;
    }
  }
}
